

header {
  width: 100%;
 
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
   padding: 30px;
  width: 100%;
}